name: 同步FongMi

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup shallow clone
        run: |
          git init sync_repo
          cd sync_repo
          git remote add source https://github.com/FongMi/Release.git
          git remote add target https://github.com/${{ github.repository }}.git

      - name: Fetch source branch
        run: |
          cd sync_repo
          git fetch --depth 1 source fongmi

      - name: Push to target branch
        run: |
          cd sync_repo
          git push target source/fongmi:refs/heads/fongmi --force
